.product-container {
  border: 1px black solid;
  border-radius : 5px;
  display: inline-block;
  padding: 10px;
}

.product-container .quantity {
    display: inline-block;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
