
<div class="d-flex flex-column justify-content-center">
    <button (click)="addElement()" class="btn btn-primary my-2">Display Details</button>
    <p *ngIf='!hidden' class="text-center fw-bold">Oops !! I'm not hidden !</p>
</div>

<div class="d-flex justify-content-center">
    <p>You have tried to log (number of times):</p>
</div>

<div class="d-flex flex-column justify-content-center">
    <p class="d-flex justify-content-center" *ngFor="let date of index; let i = index" [ngStyle]="{'background-color': changeBackgroundColor(i+1) }" [ngClass]="{ whiteColor : i+1 > 4 }">
        <li *ngIf='i === 0'>{{ i+1 }} time and the date is {{ date | date:'medium' }} </li>
        <li *ngIf='i > 0'>{{ i+1 }} times and the date is {{date | date:'medium' }} </li>
    <p>
</div>
