/* You can add global styles to this file, and also import other style files */

body {
  font-family: Lato;
  margin: 2em;
  font-size: 1.4em;
}

h2 {
  font-size: 1.1em;
}

.sheading {
  margin-top: 60px;
}


.wt-model {
  box-sizing: content-box;
}

.tr-model {
  box-sizing: border-box;
}