/*tag selector*/

body {
    font-family:'Roboto', sans-serif,'Lucida Sans Regular', sans-serif;
    max-width:800px;
    margin:0px auto;
}

<<<<<<< HEAD
nav {
    position:fixed;
    top:0px;
    width:85%;
    background-color:lightgrey;
=======
p {
    text-align:justify;
>>>>>>> 76f7ffa3f7b81d3677464cf4a05d0caab73a4d47
}

span {
    font-size:15px;
    font-weight:600;
    color:black;
}

<<<<<<< HEAD
#content {
    margin-top:10px;
    clear:both;
=======
h2 {
    color:red;
    text-transform:uppercase;
>>>>>>> 76f7ffa3f7b81d3677464cf4a05d0caab73a4d47
}

ul {
    padding:0px;
}

li {
    float:left;
    list-style-type: none;
}

<<<<<<< HEAD
=======
span#test {
    text-decoration:underline;
    color:green;
}

>>>>>>> 76f7ffa3f7b81d3677464cf4a05d0caab73a4d47
/* Pseudo classe */
a:link, a:visited {
    text-decoration:none;
    display:block;
    background-color:lightgrey;
    color:black;
    text-align:center;

}

a:hover {
    background-color:yellow;
}

/* @media screen */

@media screen and (min-width:900px) {
    body {
        background-color: grey;
    }

    li a {

    }
}
