/*tag selector*/

body {
    font-family:'Roboto', sans-serif,'Lucida Sans Regular', sans-serif;
    max-width:800px;
    margin:0px auto;
}

p {
    text-align:justify;
}

span {
    font-size:15px;
    font-weight:600;
    color:black;
}

h2 {
    color:red;
    text-transform:uppercase;
}

ul {
    padding:0px;
}

li {
    float:left;
    list-style-type: none;
}

span#test {
    text-decoration:underline;
    color:green;
}

/* Pseudo classe */
a:link, a:visited {
    text-decoration:none;
    display:block;
    background-color:lightgrey;
    color:black;
    text-align:center;

}

a:hover {
    background-color:yellow;
}

/* @media screen */

@media screen and (min-width:900px) {
    body {
        background-color: grey;
    }

    li a {

    }
}
