<h2>Button demo with ng-content</h2>
<app-fancy-btn (click)="test()">clique ici</app-fancy-btn>
<app-fancy-btn class="test" (click)="test1()">ne clique pas ici</app-fancy-btn>

<app-card>
  <header><h1>Angular</h1></header>
  <content>One framework. Mobile & desktop.</content>
  <footer><b>Super-powered by Google </b></footer>
</app-card>

<app-card>
  <header><h1 style="color: red">React</h1></header>
  <content>A JavaScript library for building user interfaces</content>
  <footer><b>Facebook Open Source </b></footer>
</app-card>
