
<h1 class="text-center display-1 my-3">Magasin de piano</h1>
<img src="../../assets/images/main_image.jpg" class="img-fluid img-thumbnail mx-auto d-block w-50 h-50" alt="">

<h1 class="text-center my-3 display-3">A propos</h1>

<p class="text-start">
    Pianiste et compositeur au sein du collectif Jeanspezial durant 7 ans, la musique s'est imposé peu à peu dans mon travail. <br><br>
    En 2010, j'ai poussé les portes du célèbre salon Tin-tin de piano à Paris. Le maître des lieux, Tin-tin, m'a prise sous son aile et j'ai débuté mon apprentissage. <br><br>
    Passionnée par le travail de la ligne et influencée par les oeuvres de Beethoven, mon style de musique s'est naturellement orienté vers la Jazz. 
    Après 6 années aux côtés de Tin-tin, je prends mon envol et quitte la région parisienne. <br><br>
    En septembre 2016, Elton John ouvre ses portes dans le centre historique de Bordeaux. <br><br>
    Vous avez la possibilité d'essayer nos produits ou d'avoir plus d'informations en complétant la partie <a class="text-dark fw-bold" href="#contact">contact</a>. 
</p>
