<div *ngIf="flag == true">
  pElement modifié
</div>

<div *ngIf="flag2 == true">
  Element ajouté
</div>


<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Prenom Column -->
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef> prenom </th>
          <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
        </ng-container>
      
        <!-- Nom Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef> nom </th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>
      
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <!-- description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
    
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button (click)="maj(element)" mat-icon-button matTooltip="Primary"aria-label="Example icon-button with a heart icon">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deletedContact(i)" mat-icon-button matTooltip="Accent" aria-label="Example icon-button with a heart icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
