<h2>Create stock form</h2>
<!-- RF -->
<div class="form-group">
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <div class="stock-name">
      <input
        type="text"
        placeholder="Stock name"
        name="StockName"
        formControlName="name"
      />
    </div>
    <div class="stock-code">
      <input
        type="text"
        placeholder="Stock code"
        name="StockCode"
        formControlName="code"
      />
    </div>
    <div class="stock-price">
      <input
        type="number"
        placeholder="Stock price"
        name="StockPrice"
        formControlName="price"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<p>Form control value : {{ stockForm.value | json }}</p>
<p>Form control status : {{ stockForm.status | json }}</p>

<!-- TDF -->
<!-- <div class="form-group">
  <form #stockForm="ngForm" (ngSubmit)="createStock(stockForm)">
    <div ngModelGroup="stock">
      <div class="stock-name">
        <input
          type="text"
          required
          placeholder="Stock Name"
  
          name="name"
          ngModel
          minlength="3"
          required
        />
      </div>
      <div class="stock-code">
        <input
          type="text"
          placeholder="Stock Code"
          name="code"
          ngModel
          required
        />
      </div>
  
      <div class="stock-price">
        <input
          type="number"
          placeholder="Stock price"
          name="price"               
          ngModel
          ngModelChange="setStockPrice($event)"
          min="2"
        />
      </div>  
  
      <div class="sètock-exchange" name="stock-exchange">
        dropdown version
        <div class="stock-exchange2">
          <select ngModel name="exhange">
            <option
              *ngFor="let item of exchanges"
              [value]="item"
            >
              {{ item }}
            </option>
          </select>
        </div>
  
      </div>
  
      <div class="submit">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
<h4>Stock is {{ stock | json }}</h4> -->
