
body {
    width: 100%;
    min-height: 100%;
}

div, section, ul, li, header, a, iframe {
    box-sizing:border-box;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
}

section {
    width: 100%;
    border-bottom: 5px solid black;
}

#accueil {
    height: 100vh;
    background: url(./assets/plat.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
}


#carte {
    background: url(./assets/plat3.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat

}

.card {
    background-color: black;
    color:white
}

.card img {
    height: 50vh;
}


.menu { 
    opacity:0.98;
    margin:auto;
}



#information {
    height: 100vh;
    background: url(./assets/plat2.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat
}

#information .menu { 
    display: flex;
    align-items: center;
    opacity:0.90;
    height:50%;
    width:75%;
    background-color: black;
    color:white;
    margin:auto;
}


footer {
    clear: both;
    position: relative;
    height: 50px;
    color: grey;
    background-color: #000000;
}

@media (max-width: 573px) {
    .dark {
        background-color: #000000;
        opacity: 0.8;
        padding: 2%;
    }
}
