* {margin:0px;}

main, nav {display:block}

/*LISTE*/
main {
    margin:30px auto;
    max-width:900px;
}

nav {
    position:fixed;
    top:0px;
    left:0px;
    margin-bottom:10px;
    width:100%;
    background-color: black;
}

ul {
    padding:0px;
    overflow:hidden;
    list-style-type:none;
}

ul li {
    float:left;
    text-transform:capitalize;

}

li a:link, li a:visited {
    display:block;
    text-decoration:none;
    padding:3px;
    text-align:center;
    background-color:rgb(119, 105, 105);
    color:white;
    width:70px;
}

li a:hover {
    color:blue;
    margin-right:15px;
    transition:margin-right .5s ease-in;
}

li a:active {
    color:red;
}

h1 {

}

p {
    margin:10px;

    font-family:sans-serif;
    color:black;
    text-align:justify;

}
