/* Some CSS element */

    /* tag selector */
    body {
        color:black;  
        /*background-color:#d6f9f1;*/
        background: #FFF url("image-background/white-square.jpg") repeat-x top left fixed; 
        background-size:cover;
        font-family:sans-serif,serif}

    p {
        text-align:justify; 
        text-indent:20px
    }
    p .italic {
        font-style:italic; 
        font-weight:bold
    }

    h1, h2, h3{
        margin:10px;
        color:red; 
        text-transform:capitalize
    }

    h1 {
        font-size:3vw;
    }

    h2 {
        font-size:2vw;
    }

    h3 {
        font-size:1.5vw;
    }

    ul{
        list-style-type:none;
        padding:0px 0px 0px 15px;
        overflow:hidden;
        width:300px;
    }

    li {
        margin-left:15px;
        float:top;
        text-align:center;
        text-transform:lowercase;

    }

    /* class selector */
    .box_p {
        margin:auto auto;
        border:1px solid black;
        text-align:center;
        padding:97px 0px 84px 0px;
        font-size:16px;
        color:rebeccapurple;
    }

    /* pseudo classes*/
    a:link, a:visited {
        color:#000000;
        background-color:grey;
        padding:5px;
        display:block;
        width:90px;
        opacity:0.85;
        text-decoration:none;
    }

    a:hover {
        color:white;
        background-color:black;
        /* effet d'ouverture */
        margin-bottom:25px;
        /* vitesse d'ouverture */
        transition: margin-bottom .5s ease-in;
    }

    a:active {
        color:red;
        background-color:black; 
    }


    /* ID selector */
    #centerDoc{
        width:50%;
        margin:50px 20% 50px 20%; /*plus court*/
        min-width:600px;
        /*margin-left:250px; 
        margin-right:50px;
        margin-top:50px;*/

        padding:20px 20px; /*top/bottom et right/left, ENCORE plus court*/
        /*padding-left:20px;*/

        border-left-style:solid;
        border-width:2px;
        border-color:black;
    }

    #nav_id {
        position:fixed;
        top:0;
        left:0;
        margin-bottom:30px;
    }

    #principal-box {
        height:600px;
        width:100%;
    }

    #box1, #box2, #box3 {
        height:33.3%;
        opacity:.5;
        background-size:cover;
    }

    #box1{
        background-color:#ff0000;
    }

    #box2 {
        background-color:#00ff00;   
    }

    #box3 {
        background-color:#0000ff;
    }
