<div class="bg-website">
    <div class="container">

        <h1 class="text-center font-text py-5">
            Inscription à la newsletter
        </h1>
        <section class="height50 borderColor text-center">
            <div class="py-5">
                <h2 class="mb-3 fw-bold font-text2 ">Inscrivez-vous à notre newsletter</h2>
                <p class="w-50 mx-auto fs-6 font-text">Inscrivez-vous à notre newsletter pour recevoir les dernière infos et être informé des bons plans à venir.</p>
                
                <form>
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col col-md-8">
                            <i></i>
                            <input type="text" placeholder="Nom *" class="form-control" id="nom">
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col col-md-8">
                            <div class="d-flex flex-row">
                                <i data-feather="circle"></i>
                                <input type="email" placeholder="Adresse mail *" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            
                            <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre email.</div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col col-md-8">
                            <i></i>
                            <input type="telephone" placeholder="Téléphone" class="form-control" id="tel">
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <button class="btn color1 rounded-pill fs-5">Ok</button>
                </form>
            </div>
        </section>
    </div>
</div>

