<h1>Bienvenu sur {{ title }} </h1>
<div class="form-group">
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <div class="name">
      <input type="text" formControlName="name" placeholder="name">
      <div *ngIf="name.invalid && (name.dirty ||name.touched)">name required.</div>
    </div>
    <div class="age">
      <input type="number" formControlName="age">
      <div *ngIf="age.invalid && (age.dirty || age.touched)">age required.</div>
    </div>
    <div formArrayName="favorite">
      <div *ngFor="let favor of favorite.controls; let i = index" [formGroupName]="i" class="favorite">
        Favorite {{ i+1 }}
        <div class="name">
          <input type="text" formControlName="color" placeholder="Favorite color">
        </div>
        <div class="name">
          <input type="text" formControlName="film" placeholder="Favorite film">
        </div>
        <button (click)="removeFavorite(i)">Remove favorite</button>
      </div>
    </div>
      

    <button type="submit">Submit</button>
    <button (click)="resetForm()" type="button">Reset</button>
    <button (click)="addFavorite()" type="button">Add favorite</button>

  </form>
    
  <div> {{ personForm.value | json }} </div>
  <div> {{ personForm.status | json }} </div>
  
</div>