<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
    <mat-card>
      <mat-card-header>
        's weather
        <br>
        today : date...
      </mat-card-header>
      <mat-card-content>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>... C</mat-card-title>
            <mat-card-subtitle>Feels like .. C</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
  
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
  
          <mat-card-content>
            <p>The Shiba Inu</p>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  
