<li [ngClass]="{'list-group-item': true,
'list-group-item-success': appareilStatut === 'allumé',
'list-group-item-danger': appareilStatut === 'éteint'}">
    <h4 [ngStyle]="{color:getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
    <input type="text" class="form-control" [(ngModel)]="appareilName">
    <button *ngIf="getStatus() === 'éteint'" class="btn btn-success" (click)="onSwitch()">Allumer</button>
    <button *ngIf="getStatus() === 'allumé'" class="btn btn-danger" (click)="onSwitch()">Eteindre</button>
</li>