.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}
  
td {
    padding-right: 8px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertically {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}