<h1 class="text-center display-3">Contact</h1>

<form class="width mx-auto">
    <div class="mb-3">
      <label for="email" class="form-label">Adresse email:</label>
      <input type="email" class="form-control" id="email">
      <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre adresse email.</div>
    </div>
    <div class="mb-3">
        <label for="objet" class="form-label">Objet:</label><br>
        <input type="text" class="form-control" id="objet" name="objet"><br>
    </div>
    <div class="mb-3">
        <label for="commentaire" class="form-label">Commentaire:</label><br>
        <textarea type="text" class="form-control" id="commentaire" name="commentaire"></textarea><br>
    </div>
    <div class="text-center mb-3">
        <button type="submit" class="btn btn-secondary">Envoyer votre demande</button>
    </div>
</form>
