<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" style="max-height: 300px;" alt="{{ recipe.name }}" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button type='button' id="test" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Manage Recipe</button>
            <ul class="dropdown-menu" aria-labelledby="test">
                <li><a class="dropdown-item" href="">To Shopping List</a></li>
                <li><a class="dropdown-item" href="">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>