<p>1.Add A button which says 'Display Details'</p>
<p>2.Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</p>
<p>3.Toggle the displaying of that paragraph with the button created in the first step</p>
<p>4.Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</p>
<p>5.Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</p>

<hr>
<div class="container">
        <h1 class="text-primary text-center">Display your details !</h1>
        <app-paragraph></app-paragraph>
</div>