<div
  class="product-container"
  [ngClass]="product.onSale ? 'positive' : 'negative'"
>
  <div class="name">{{ product.name }}</div>
  <div class="price">${{ product.price }}</div>
  <div class="image">
    <img [src]="product.image" alt="pants" [width]="50" />
  </div>

  <label for="quantity">Quantity:</label>
  <select name="quantity">
    <option *ngFor="let num of quantity; index as i" value="{{ i }}">
      {{ i }}
    </option>
  </select>
  <div class="quantity">Quantity : {{ product.quantity }}</div>
  <div class="buttons">
    <button (click)="add(product.productId)">+</button>
    <button (click)="remove(product.productId)" *ngIf="product.quantity > 0">
      -
    </button>
  </div>
</div>
