* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:#add3ff;
    height:100vh;
    display:flex;
}

.connexion {
    margin:auto;
    width:500px;
    display:flex; /* étends sur toute la longueur de la page*/
    flex-direction:column; /* étends sur l'axe verticale */
    justify-content:center; /* justifie tout le contenu du tag */ 
    align-items:center; /* aligne le tag */
    padding:35px 0px;
    background-color:#84e6ff;
    border-radius:3px;
}

.connexion-top {
    color:white;
    font-size:12px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.connexion-top #connexion-or {
    margin:15px 0 15px -20px;
    font-size:15px;
}

.cartes_connexion, .carte_connexion {
    display:flex;
    padding:10px 15px;
    align-items: center;
}

.carte_connexion {
    background-color:#85c7b6;
    margin-right:10px;
    font-size:14px;
    color:white;
    border-radius: 6%;
}


.carte_connexion img {
    margin-right: 10px;
    width:20%;
}

.connexion_champ {
    display:flex;
    flex-direction:column;
    width:100%;
    padding:0 15px;
}

.email, .mdp {
    display:flex;
    flex-direction:column;
}

.bouton_connexion {
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    background-color:#add3ff;
    font-size:16px;
    color:white;
    padding:15px 10px;
    border:transparent;
    margin-bottom:8px;

}

.email label, .mdp label {
    margin:8px 0;
}

.email input, .mdp input {
    padding:10px 12px;
    border:transparent;
    background-color:#85c7b6;
}

.mdp input {
    margin-bottom:8px;
}

.connexion_champ .compte {
    display: block;
    margin-top: 15px;
    color:white;
    font-weight: 600;
}

.inscription {
    font-weight:500;
    color:blue;
}