<div class="my-2 ms-3">
    <div class="row">
        <div class="col-3 text-center bg-light py-2">
            <div class=" fs-1 votes">
                {{ article.votes }}
            </div>
            <p class="fs-3">Points</p>
        </div>
        <div class="col-9">
            <a class="text-dark" href="{{article.link}}">{{ article.title }}</a>
            <div class="row mt-3">
                <div class="col-2">
                    <a href (click)="voteUp()">
                        <i class="fa fa-plus"></i>
                        Vote positif
                    </a>
                </div>
                <div class="col-2">
                    <a href (click)="voteDown()">
                        <i class="fa fa-minus"></i>
                        Vote négatif
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>