<div class="my-2 ms-1">
    <div class="row border border-dark">
        <div class="col-3 border-end border-dark  text-center bg-light py-2">
            <div class=" fs-1 votes">
                {{ article.votes }}
            </div>
            <p class="fs-3">Points</p>
        </div>
        <div class="col-9">
            <a class="text-dark" href="{{article.link}}">{{ article.title }}</a>
            <div class="text-secondary">{{ article.domain() }}</div>
            <div class="row mt-4">
                <div class="col-1">
                    <a class="bg-light border border-dark rounded-2 p-2" href (click)="voteUp()">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-1">
                    <a class="bg-light border border-dark rounded-2 p-2" href (click)="voteDown()">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>