* {
    margin:0px;
    padding:0px;
}

body {
    background:linear-gradient(90deg, black, white);  
}

main {
    height: 1000px;
}

h1 {
    color:purple;
}

.figure_lune {
    position:fixed;
    left:7%;
    top:10%;
    width:40px;
    height:40px;
    transform:scale(2);
    border-radius:50%;
    background-color:transparent;
    box-shadow:-10px 5px 0 3px white;
}

.figure_lune p {
    position:absolute;
    transform:scale(0.5);
    color:white;
    top:10px;
    left:-15px;
}

.figure_lune,.figure_coeur, .figure_coeur::before, .figure_coeur::after {
    animation-name:animer;
    animation-duration:6s;
    animation-iteration-count:infinite;

}

.figure_coeur {
    position:fixed;
    left:5%;
    top:22%;
    width:50px;
    height:50px;
    background-color:white;
    transform:rotate(-45deg);


}

.figure_coeur::before {
    position:absolute;
    content: "";
    top:-25px;
    border-radius:50%;
    left:0px;
    width:50px;
    height:50px;
    background-color:white;
}

.figure_coeur::after {
    position:absolute;
    content: "";
    top:0px;
    border-radius:50%;
    left:25px;
    width:50px;
    height:50px;
    background-color:white;
}

.main_content {
    width:50%;
    min-width:800px;
    margin:20% auto;
    padding:20px;
    border-style:solid;
    border-color:#ccc;
    border-radius:10px;
    border-width:2px;
    box-shadow:20px 10px 20px rgba(0,0,0,0.20)
}

.utilisateur_info {
    margin-top:25px;
}

.button {
    margin-top:5px;
}

.info2 {
    margin-left:15px;
}

@keyframes animer {
    0% {
        background-color:red;
    }

    25% {
        background-color:purple;

    }

    50% {
        background-color:purple;

    }

    60% {
        background-color:purple;

    }

    100% {
        background-color:red;

    }
}