* {
    margin:0px;
    padding:0px;
}

.main_content {
    width:50%;
    margin:20% auto;
    padding:20px;
    border-style:solid;
    border-color:#ccc;
    border-radius:10px;
    border-width:2px;
    box-shadow:20px 10px 20px rgba(0,0,0,0.20)
}

.utilisateur_info {
    margin-top:25px;
}