/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table {
    width: 100%;
}

.mat-column-titre, .mat-column-description, .mat-column-niveau-importance, .mat-column-creation {

}

.mat-column-titre {
    width: 5%;
    border-right: 1px solid black;
}



