
nav .navbar-brand img{
    max-height:40px;
}


#titre {
    font-family: 'PT Serif', serif;
    display: border-box;
}

#titre::first-letter {
    font-weight: bolder;
    color:#aaa;
    font-size: 130%;
}

.title {
    padding-top:5%
}

#accueil {
    background-color: #fff;
    min-height:100vh;
}

#presentation {
    background-color: #f8f9fa;
    min-height:100vh;
}

#reservation {
    background-color:#212529;
    height:100vh;
    max-height: 200vh;
}

h1, h2, h5, p {
    color:white;
}

#presentation img {
    width: 100%;
}

#reservation {
    background-color:#292521;
}

@media (max-width: 768px) { 
    .vcenter {
        text-align: center;
    }

    .centerImage {
        display: block;
        margin: 0 auto;
    }
 }


  

  
