<div class="container">
    <div class="product">
        <div class="product-item">
            <div style="text-align:center"> 
                <img src="../../assets/images/Pantalon.jpg" alt="{{ product.name }}" height=200px>
                <br>
                {{ product.name }} 
                <br>
                <br>
                <span [ngClass]="product.onSale() ? 'onSale' : 'notSale'">{{ product.price }}$</span>  
            </div>
        </div>
        <div class="quantity">              
            <p>Quantité : {{ product.quantity }}</p>
            
        </div>
    </div>
    <div class="button">
        <button (click)="onMoreProduct(product)">+</button>
        <button (click)="onLessProduct(product)" *ngIf="!(product.quantity<1)">-</button>
    </div>   
</div>