.container {
    margin: 0 auto;
}

.quantity {
    display: flex;
    justify-content:center;
    flex-direction:row
}

.button {
    display: flex;
    justify-content:center;
    flex-direction:row
}

.button button {
    width: 5%;
}

.onSale {
    color:green;
}

.notSale {
    color:red;
}

select {
    display: block;
    margin: 0 auto;
}