button.gray-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

button.gray-button:hover {
  background-color: #ccc;
  color: #fff;
}
