/**************** NAV **********/
nav .navbar-brand img{
    max-height:40px;
}

#titre {
    font-family: 'PT Serif', serif;
    display: border-box;
}

#titre::first-letter {
    font-weight: bolder;
    color:#aaa;
    font-size: 130%;
}
/**************** FIN NAV **********/

.title {
    padding-top:5%
}
/******* SECTION ***********/
#accueil {
    background-color: #fff;
    min-height:100vh;
}

#presentation {
    background-color: #f8f9fa;
    min-height:100vh;
}

#reservation {
    background-color:#212529;
    height:100vh;
    max-height: 200vh;
}
/******* FIN SECTION ***********/

h1, h2, h5, p {
    color:white;
}

#presentation img {
    width: 100%;
}

#reservation {
    background-color:#292521;
}

@media (max-width: 768px) { 
    .vcenter {
        text-align: center;
    }

    .centerImage {
        display: block;
        margin: 0 auto;
    }
}

/******** IMAGE **********/

/***** FIN IMAGE ******/

.shadow-sm img {
    transition: 1s;
    filter: grayscale(70%);
    width: 100%;
}

.shadow-sm img:hover {
    transition: 1s;
    filter: grayscale(0%);
    transform: scale(1.03);
}

.shadow-sm a {
    display: inherit;
}



#lightbox {
    display: flex;
    flex-direction: column-reverse;    
  }