/**************** NAV **********/
nav .navbar-brand img{
    max-height:40px;
}

#titre {
    font-family: 'PT Serif', serif;
    display: border-box;
}

#titre::first-letter {
    font-weight: bolder;
    color:#aaa;
    font-size: 130%;
}
/**************** FIN NAV **********/

.title {
    padding-top:5%
}

/******* FIN SECTION ***********/

h1, h2, h5, p {
    color:white;
}

#presentation img {
    width: 100%;
}


@media (max-width: 768px) { 
    .vcenter {
        text-align: center;
    }

    .centerImage {
        display: block;
        margin: 0 auto;
    }
}

/******** IMAGE **********/

/***** FIN IMAGE ******/



.shadow-sm img {
    transition: 1s;
    filter: grayscale(70%);
    width: 100%;
}

.shadow-sm img:hover {
    transition: 1s;
    filter: grayscale(0%);
    transform: scale(1.03);
}

.shadow-sm a {
    display: inherit;
}



#lightbox {
    display: flex;
    flex-direction: column-reverse;    
  }

/***** FICHIER GALLERIE *******/
.gallery {
    border: 1px solid #ccc;
}

.gallery img {
    width:100%;
    height: auto;
}

.des {
    padding: 15px;
    text-align:center;
}

.responsive {
    padding: 0 6px;
    float:left;
    width: 25%;
    margin: 12px 0;
}

@media only screen and (max-width:900px) {
    .responsive {
        width:50%;
        margin:6px 0;
    }

}

@media only screen and (min-width:500px) {
    .responsive1 {
        width:50%;
        margin:6px 0;
    }

}

@media only screen and (max-width:500px) {
    .responsive {
        width:100%;
    }

}

.container-fluid .row {
    
} 