/* You can add global styles to this file, and also import other style files */
/* background color */
.bg-website {
    height: 100vh;
    background-color: #dad8cd;
}


.height50 {
    width: 100%;
}

/* text color */
.font-text {
    font-size: 4em;
    color: #90856f;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 450px) {
    .font-text {
        font-size: 2em;
    }
  }

.font-text2 {
    color: #90856f;
    font-family: 'Pushster', cursive;
}


.color1 {
    background-color: #90856f;
    color: white;
}

.borderColor {
    border: solid;
    border-color: #c1bcb0;
    border-width: medium;
}

input[type="text"], input[type="email"], input[type="telephone"], textarea {

    background-color : #ccc8bc; 
  
}