<form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="name">Name</label>
    <input type="text" formControlName="name" name="name">
  </p>

  <div formArrayName="skills">
    <div *ngFor="let item of skills.controls; let i = index;">
      <div formGroupName="{{i}}">
        {{i}}
        skill name : <input type="text" formControlName="skill">
        expérience : <input type="text" formControlName="exp">
        <button (click)="removeSkill(i)">remove</button>
      </div>  
    </div>
  </div>

  <button type="submit">submit</button>
</form>
<button (click)="addSkill()">add</button>
