<h1 class="text-center display-3">Nos offres</h1>

<div class="container">
    <div class="row">       
      <div class="col-12 col-sm-6 col-md-4 mt-3">
        <img src="../../assets/images/product1.png" class="img-fluid img-thumbnail" alt="...">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">korg arrangeur haut de gamme pa4x-61</h5>
                <p class="card-text column"> <span class="fw-light">2 999$</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis ligula id lacus sagittis consequat. Suspendisse potenti. Nam malesuada ut lacus rhoncus blandit.</p>
            </div>
            <button class="btn btn-secondary">Selectionner ce produit</button>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-3">
        <img src="../../assets/images/product2.png" class="img-fluid img-thumbnail" alt="...">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Piano à queue Kawai GL10 E Blanc laqué</h5>
                <p class="card-text column"> <span class="fw-light">50 000$</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis ligula id lacus sagittis consequat. Suspendisse potenti. Nam malesuada ut lacus rhoncus blandit.</p>
            </div>
            <button class="btn btn-secondary">Selectionner ce produit</button>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 mt-3">
        <img src="../../assets/images/product3.png" class="img-fluid img-thumbnail" alt="...">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Piano à queue Kawai Shigeru Noir laqué</h5>
                <p class="card-text column"> <span class="fw-light">145 000$</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis ligula id lacus sagittis consequat. Suspendisse potenti. Nam malesuada ut lacus rhoncus blandit.</p>
            </div>
            <button class="btn btn-secondary">Selectionner ce produit</button>
        </div>
      </div>
    </div>
</div>