<form class="text-center">
    <h1>Création d'un utilisateur</h1>

    <div>
        <label for="prenom">Prenom</label>
        <br>
        <input type="text" id="prenom">
    </div>
    
    <div class="mt-2">
        <label for="nom">Nom</label>
        <br>
        <input type="text" id="nom">
    </div>

    <div class="mt-2">
        <label for="sexe">Sexe</label>
        <br>
        <input type="text" id="sexe">
    </div>

    <div class="mt-2">
        <label for="loisir">Loisir</label>
        <br>
        <input type="text" id="loisir">
    </div>

    <button class="btn btn-secondary mt-3" (click) = "onSubmit()">Ajouter</button>
</form>
