<table *ngIf="films.length > 0" class="table table-hover table-bordered">
  <thead class="table-light">
    <tr class="text-center">
      <th>Nom du film</th>
      <th>Réalisateur</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of films; let i = index" [routerLink]="['/detail', i]">
      <td>{{ item.nom }}</td>
      <td>{{ item.realisateur }}</td>
      <td>{{ item.description }}</td>
      <td>
        <button [routerLink]="['/modification', i]">Editer</button>
        <button (click)="supprimer(i)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <router-outlet></router-outlet> -->
