table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th,
tr:nth-child(even) {
  background-color: #dddddd;
  border: 1px solid #ffffff;

}

th {
  border: 1px solid #ffffff;
}
