* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.9em;
    font-weight: 400;
}

h2 {
    font-size: 1.2em;
    font-weight: 200;
}

h3 {
    margin: 0;
    color: tomato;
    text-transform: uppercase;
    padding-bottom: 30px;
}

input, button {
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0 rgb(0, 0, 0, 0.4);
    padding: 17px 30px;
    font-size: 1.3em;
    border:none;
}

a {
    color: tomato;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

input {
    width:50%;
}

button {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    background-color: tomato;
}


footer {
    background-color: #ffffff;
    text-align: center;
}

footer p {
    text-align: center;
    font-weight: 300;
}

#logo {
    height: 50px;
}

#hello {
    background-image: url('../pictures/hello.jpg');
    background-position: center center;
    background-size:cover;
    height: 500px;
}

#hello form {
    text-align: center;
}


#brands {
    text-align: center;
    background-color: #eff7fc;
    padding: 30px;
}

#result {
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    padding: 30px;
    display: inline-block;
    margin-top: 2%;
}


footer #logo {
    padding:10px;
    height:50px;
}

.container { 
    width: 1100px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.picture {
    height: 35px;
    margin: 15px;
}










